HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Refact IDE files
.refact/
.cursorj/

# Local tool and generated working files
.RestfulApiTool/
.github/agents/
DATABASE_SEEDER_SUMMARY.md
FRONTEND_AGENT_API_GUIDE.md
src/main/java/com/mapnaom/ticketingplatform/model/enums/UserType.java
